In [1]:
import csv
import requests
import pandas as pd

import time
from datetime import datetime

from bs4 import BeautifulSoup

In [2]:
def dividendos_acao(acao: str):
    url = f'https://statusinvest.com.br/acoes/{acao}'

    print("Starting...{}".format(datetime.now()))

    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")

    data = []
    table = soup.find('table')
    table_head = table.find('thead')
    rows = table_head.find_all('tr')

    for row in rows:
        cols = row.find_all('th')
        colsd = [ele.get_text(separator=" ").strip() for ele in cols]
        data.append([ele for ele in colsd])

    table_body = table.find('tbody')

    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        colsd = [ele.text.replace('R$','').replace('%','').replace('.0','').replace('.','').replace('N/A','').replace(',','.').strip() for ele in cols]
        data.append([ele for ele in colsd])

    data = pd.DataFrame(data)
    data.columns = data.iloc[0]
    data = data.drop([0])

    # Extrair df para um arquivo csv externo
    # file = open("dividendos.csv", "w")
    # wtr = csv.writer(file, delimiter=';', lineterminator='\n')
    # for x in data : wtr.writerow(x)
    # file.close()

    print("Finish...{}".format(datetime.now()))
    time.sleep(1)

    return data

In [3]:
dividendos_acao('itsa4')

Starting...2021-06-28 19:55:09.010451
Finish...2021-06-28 19:55:10.595279

0        Tipo    DATA COM   Pagamento       Valor
1   Dividendo  28/02/2022  01/04/2022  0.02000000
2   Dividendo  30/11/2021  03/01/2022  0.02000000
3   Dividendo  31/08/2021  01/10/2021  0.02000000
4   Dividendo  31/05/2021  01/07/2021  0.02000000
5         JCP  24/05/2021  30/09/2021  0.01840000
6         JCP  27/04/2021  30/09/2021  0.02131000
7         JCP  25/03/2021  30/09/2021  0.01908000
8         JCP  09/03/2021  30/09/2021  0.01545600
9   Dividendo  26/02/2021  01/04/2021  0.02000000
10        JCP  22/01/2021  12/03/2021  0.02080000
11        JCP  10/12/2020  12/03/2021  0.10165000
12  Dividendo  30/11/2020  04/01/2021  0.02000000

In [4]:
def dividendos_fii(fii: str):
    url = f'https://statusinvest.com.br/fundos-imobiliarios/{fii}'

    print("Starting...{}".format(datetime.now()))

    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")

    data = []
    table = soup.find('table')
    table_head = table.find('thead')
    rows = table_head.find_all('tr')

    for row in rows:
        cols = row.find_all('th')
        colsd = [ele.get_text(separator=" ").strip() for ele in cols]
        data.append([ele for ele in colsd])

    table_body = table.find('tbody')

    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        colsd = [ele.text.replace('R$','').replace('%','').replace('.0','').replace('.','').replace('N/A','').replace(',','.').strip() for ele in cols]
        data.append([ele for ele in colsd])
    
    data = pd.DataFrame(data)
    data.columns = data.iloc[0]
    data = data.drop([0])
    
    # Extrair df para um arquivo csv externo
    # file = open("dividendos.csv", "w")
    # wtr = csv.writer(file, delimiter=';', lineterminator='\n')
    # for x in data : wtr.writerow(x)
    # file.close()

    print("Finish...{}".format(datetime.now()))
    time.sleep(1)

    return data

In [5]:
dividendos_fii('HGLG11')

Starting...2021-06-28 19:55:11.646113
Finish...2021-06-28 19:55:13.007870

0         Tipo    DATA COM   Pagamento       Valor
1   Rendimento  31/05/2021  15/06/2021  1.00000000
2   Rendimento  30/04/2021  14/05/2021  0.78000000
3   Rendimento  31/03/2021  15/04/2021  0.78000000
4   Rendimento  26/02/2021  12/03/2021  0.78000000
5   Rendimento  29/01/2021  12/02/2021  0.78000000
6   Rendimento  30/12/2020  15/01/2021  2.63000000
7   Rendimento  30/11/2020  14/12/2020  0.78000000
8   Rendimento  30/10/2020  16/11/2020  0.78000000
9   Rendimento  30/09/2020  15/10/2020  0.60000000
10  Rendimento  31/08/2020  15/09/2020  0.78000000
11  Rendimento  31/07/2020  14/08/2020  0.78000000
12  Rendimento  30/06/2020  14/07/2020  0.78000000